<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Men's Collection</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="mens_coll.css" />
    <script src="mens_coll.js" defer></script>
  </head>
  <body>
    <h3>OUR COLLECTION</h3>
    <div class="container">
      <div class="slider-wrapper">
        <button id="prev-slide" class="slide-button material-symbols-rounded">
          chevron_left
        </button>
        <ul class="image-list">
            <li class="image-item">
                <img src="menswear/img1.jpeg" alt="img-2" />
                <div class="content-rectangle">
                    <button class="heading">BLACK SOLID TROUSERS </button>
                    <button class="price">MRP - 2500.00 INR </button>
                    <button class="wish">Add to wishlist</button>
                </div>
            </li>

            <li class="image-item">
                <img src="menswear/img2.jpeg" alt="img-2" />
                <div class="content-rectangle">
                    <button class="heading">BLACK SLIM FIT SHIRT </button>
                    <button class="price">MRP - 3499.00 INR </button>
                    <button class="wish">Add to wishlist</button>
                </div>
            </li>

            <li class="image-item">
                <img src="menswear/img3.jpeg" alt="img-2" />
                <div class="content-rectangle">
                    <button class="heading">BUSINESS FORMALS </button>
                    <button class="price">MRP - 5999.00 INR </button>
                    <button class="wish">Add to wishlist</button>
                </div>
            </li>

            <li class="image-item">
                <img src="menswear/img4.jpeg" alt="img-2" />
                <div class="content-rectangle">
                    <button class="heading">FORMAL SHIRT </button>
                    <button class="price">MRP - 1999.00 INR </button>
                    <button class="wish">Add to wishlist</button>
                </div>
            </li>

            <li class="image-item">
                <img src="menswear/img5.jpeg" alt="img-2" />
                <div class="content-rectangle">
                    <button class="heading">CHECKED TROUSERS </button>
                    <button class="price">MRP - 2969.00 INR </button>
                    <button class="wish">Add to wishlist</button>
                </div>
            </li>

            <li class="image-item">
                <img src="menswear/img6.jpeg" alt="img-6" />
                <div class="content-rectangle">
                    <button class="heading">CASUAL TEE </button>
                    <button class="price">MRP - 0999.00 INR </button>
                    <button class="wish">Add to wishlist</button>
                </div>
            </li>

            <li class="image-item">
                <img src="menswear/img7.jpeg" alt="img-7" />
                <div class="content-rectangle">
                    <button class="heading">FORMAL BLAZER </button>
                    <button class="price">MRP - 4000.00 INR </button>
                    <button class="wish">Add to wishlist</button>
                </div>
            </li>

            <li class="image-item">
                <img src="menswear/img8.jpeg" alt="img-8" />
                <div class="content-rectangle">
                    <button class="heading">CASUAL KURTA </button>
                    <button class="price">MRP - 1790.00 INR </button>
                    <button class="wish">Add to wishlist</button>
                </div>
            </li>
          
        </ul>
        <button id="next-slide" class="slide-button material-symbols-rounded">
          chevron_right
        </button>
      </div>
      <div class="slider-scrollbar">
        <div class="scrollbar-track">
          <div class="scrollbar-thumb"></div>
        </div>
      </div>
    </div>
  </body>
</html>