<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reverie</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="sale.css" class="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div><img src="reverie.png" class="logo"> </div>
        <div class="navbar-right">
          <a href="#"><img src="cart.png" alt="cart"><span class="carttext">CART</span></a>
          <a href="#"><img src="wishlist.png" alt="wishlist">WISHLIST</a>
          <a href="#"><img src="cont.png" alt="contacticon">CONTACT US</a>
          <a href="#"><img src="Location.png" alt="storeicon">STORES</a>
        </div>
      </nav>

      <!-- navbar done -->

      <div class="horizontal-navbar">
        
        <div class="horizontal-navbar-links">
          <a href="/men">MEN</a>
          <a href="/women">WOMEN</a>
          <a href="/kids">KIDS</a>
          <a href="/wedding">WEDDING</a>
          <a href="#" id="saleheading">SALE</a>
        </div>
        <div class="search-container">
          <img src="search.png" alt="search-icon" class="searchicon">
          <input type="text" placeholder="Search...">
        </div>
       <img src="deliv.png" alt="deliv-icon" class="delivery">
      </div>

      <!--horizontal bar below navbar done-->

      
      <div class="wrapper">
        <h1 class="heading">HURRY UP!</h1>
        <p class="description">Reverie Fabrics Fashion sale ends in : </p>

        <div class="timer">
            <div class="sub_timer">
                <h1 id="day" class="digit">00</h1>
                <p class="digit_name">Days</p>
            </div>
            <div class="sub_timer">
                <h1 id="hour" class="digit">00</h1>
                <p class="digit_name">Hours</p>
            </div>
            <div class="sub_timer">
                <h1 id="min" class="digit">00</h1>
                <p class="digit_name">Minutes</p>
            </div>
            <div class="sub_timer">
                <h1 id="sec" class="digit">00</h1>
                <p class="digit_name">Seconds</p>
            </div>
        </div>
    </div>

      <!-- sale timer -->

      
        <img src="saleintro.jpeg" alt="" class="src">

        <!-- <div class="strips">  <img src="menswear/strip.png" alt="" class="strip"></div> -->
      

    <!--circular images done-->
    
    <footer>
      <div class="footerContainer">
          <div class="socialIcons">
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-google-plus"></i></a>
              <a href=""><i class="fa-brands fa-youtube"></i></a>
          </div>
          <div class="footerNav">
              <ul><li><a href="">Home</a></li>
                  <li><a href="">News</a></li>
                  <li><a href="">About</a></li>
                  <li><a href="">Contact Us</a></li>
                  <li><a href="">Our Team</a></li>
              </ul>
          </div>
          
      </div>
      <div class="footerBottom">
          <p>Copyright &copy;2023; Designed by <span class="designer">Reverie Fabrics</span></p>
      </div>
  </footer>

   
<script src="sale.js"></script>
</body>
</html>