<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wedding Collection</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="wed_coll.css" />
    <script src="wed_coll.js" defer></script>
  </head>
  <body>
    <h3>OUR COLLECTION</h3>
    <div class="container">
      <div class="slider-wrapper">
        <button id="prev-slide" class="slide-button material-symbols-rounded">
          chevron_left
        </button>
        <ul class="image-list">
            <li class="image-item">
                <img src="wedwear/img1.png" alt="img-1" />
                <div class="content-rectangle">
                    <button class="heading">TUXEDO AND BLAZER </button>
                    <button class="price">MRP - 16000.00 INR </button>
                    <button class="wish">Add to wishlist</button>
                </div>
            </li>

            <li class="image-item">
                <img src="wedwear/img2.jpg" alt="img-2" />
                <div class="content-rectangle">
                    <button class="heading">WESTERN GOWN </button>
                    <button class="price">MRP - 12499.00 INR </button>
                    <button class="wish">Add to wishlist</button>
                </div>
            </li>

            <li class="image-item">
                <img src="wedwear/img3.png" alt="img-2" />
                <div class="content-rectangle">
                    <button class="heading"> INDIAN LEHENGA</button>
                    <button class="price">MRP - 35999.00 INR </button>
                    <button class="wish">Add to wishlist</button>
                </div>
            </li>

            <li class="image-item">
                <img src="wedwear/img4.png" alt="img-2" />
                <div class="content-rectangle">
                    <button class="heading">WEDDING DRESS</button>
                    <button class="price">MRP - 17999.00 INR </button>
                    <button class="wish">Add to wishlist</button>
                </div>
            </li>

            <li class="image-item">
                <img src="wedwear/img5.png" alt="img-2" />
                <div class="content-rectangle">
                    <button class="heading"> WEDDING SHERWANI </button>
                    <button class="price">MRP - 29069.00 INR </button>
                    <button class="wish">Add to wishlist</button>
                </div>
            </li>

            <li class="image-item">
                <img src="wedwear/img6.png" alt="img-6" />
                <div class="content-rectangle">
                    <button class="heading">KURTA</button>
                    <button class="price">MRP - 10999.00 INR </button>
                    <button class="wish">Add to wishlist</button>
                </div>
            </li>

            <li class="image-item">
                <img src="wedwear/img7.png" alt="img-7" />
                <div class="content-rectangle">
                    <button class="heading">HERITAGE SAREE </button>
                    <button class="price">MRP - 40000.00 INR </button>
                    <button class="wish">Add to wishlist</button>
                </div>
            </li>

            <li class="image-item">
                <img src="wedwear/img8.png" alt="img-8" />
                <div class="content-rectangle">
                    <button class="heading">BLACK BLAZER</button>
                    <button class="price">MRP - 9790.00 INR </button>
                    <button class="wish">Add to wishlist</button>
                </div>
            </li>
          
        </ul>
        <button id="next-slide" class="slide-button material-symbols-rounded">
          chevron_right
        </button>
      </div>
      <div class="slider-scrollbar">
        <div class="scrollbar-track">
          <div class="scrollbar-thumb"></div>
        </div>
      </div>
    </div>
  </body>
</html>