<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reverie</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="wedding.css" class="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div><img src="reverie.png" class="logo"> </div>
        <div class="navbar-right">
          <a href="#"><img src="cart.png" alt="cart"><span class="carttext">CART</span></a>
          <a href="#"><img src="wishlist.png" alt="wishlist">WISHLIST</a>
          <a href="#"><img src="cont.png" alt="contacticon">CONTACT US</a>
          <a href="#"><img src="Location.png" alt="storeicon">STORES</a>
        </div>
      </nav>

      <!-- navbar done -->

      <div class="horizontal-navbar">
        
        <div class="horizontal-navbar-links">
          <a href="/men">MEN</a>
          <a href="/women" > WOMEN </a>
          <a href="/kids">KIDS</a>
          <a href="#" id= "weddingheading" >WEDDING</a>
          <a href="/sale">SALE</a>
        </div>
        <div class="search-container">
          <img src="search.png" alt="search-icon" class="searchicon">
          <input type="text" placeholder="Search...">
        </div>
       <img src="deliv.png" alt="deliv-icon" class="delivery">
      </div>

      <!--horizontal bar below navbar done-->

      <div class="bluebg">
        <img src="wedwear/intro.png" alt="" class="intropic">
      </div>

      <!-- intro image done -->
      <a href="/wed_coll"><button class="shop"> SHOP COLLECTION </button></a>
      <div class="strips">  <img src="wedwear/strip.png" alt="" class="strip"></div>
      


      <div class="container">
        <div>
        <div class="circle-item"> <img src="wedwear/suits.jpg" alt="SUITS AND TUXEDOS" > </div>
        <p class="circle-text">SUITS AND TUXEDOS</p>
        </div>

        <div>
        <div class="circle-item"> <img src="wedwear/ethnic.png" alt="SHERWANIS"></div>
        <p class="circle-text">SHERWANIS</p>
        </div>

        <div>
            <div class="circle-item"> <img src="wedwear/lehenga.jpg" alt="LEHENGAS"></div>
            <p class="circle-text">LEHENGAS</p>
        </div>

        <div>
            <div class="circle-item"> <img src="wedwear/saree.png" alt="SAREES"></div>
            <p class="circle-text">SAREES</p>
            </div>
    </div>



    <div class="container2">
        <div>
        <div class="circle-item"> <img src="wedwear/kurta.png" alt="KURTA PYJAMAS"> </div>
        <p class="circle-text">KURTA PYJAMAS</p>
        </div>

        <div>
        <div class="circle-item"> <img src="wedwear/footwear.jpg" alt="FOOTWEAR"></div>
        <p class="circle-text">FOOTWEAR</p>
        </div>

        <div>
        <div class="circle-item"> <img src="wedwear/western.png" alt="WESTERN DRESSES"></div>
        <p class="circle-text">WESTERN DRESSES</p>
        </div>

        <div>
            <div class="circle-item"> <img src="wedwear/jewelry.png" alt="JEWELRY"></div>
            <p class="circle-text">JEWELRY</p>
            </div>
    </div>

    <!--circular images done-->

        
    <footer>
        <div class="footerContainer">
            <div class="socialIcons">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-google-plus"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
            </div>
            <div class="footerNav">
                <ul><li><a href="">Home</a></li>
                    <li><a href="">News</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Our Team</a></li>
                </ul>
            </div>
            
        </div>
        <div class="footerBottom">
            <p>Copyright &copy;2023; Designed by <span class="designer">Reverie Fabrics</span></p>
        </div>
    </footer>

   
<script src="home.js"></script>
</body>
</html>