<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Women's Collection</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="women_coll.css" />
    <script src="women_coll.js" defer></script>
  </head>
  <body>
    <h3>OUR COLLECTION</h3>
    <div class="container">
      <div class="slider-wrapper">
        <button id="prev-slide" class="slide-button material-symbols-rounded">
          chevron_left
        </button>
        <ul class="image-list">
            <li class="image-item">
                <img src="womenswear/img1.png" alt="img-2" />
                <div class="content-rectangle">
                    <button class="heading">BLUE SOLID TROUSERS </button>
                    <button class="price">MRP - 2000.00 INR </button>
                    <button class="wish">Add to wishlist</button>
                </div>
            </li>

            <li class="image-item">
              <img src="womenswear/img2.png" alt="img-2" />
                <div class="content-rectangle">
                    <button class="heading">NAVY BLUE DENIMS</button>
                    <button class="price">MRP - 2499.00 INR </button>
                    <button class="wish">Add to wishlist</button>
                </div>
            </li>

            <li class="image-item">
              <img src="womenswear/img3.png" alt="img-2" />
                <div class="content-rectangle">
                    <button class="heading">PATTERN DRESS </button>
                    <button class="price">MRP - 3999.00 INR </button>
                    <button class="wish">Add to wishlist</button>
                </div>
            </li>

            <li class="image-item">
              <img src="womenswear/img4.png" alt="img-2" />
                <div class="content-rectangle">
                    <button class="heading">TANK TOP & SKIRT </button>
                    <button class="price">MRP - 5099.00 INR </button>
                    <button class="wish">Add to wishlist</button>
                </div>
            </li>

            <li class="image-item">
              <img src="womenswear/img5.png" alt="img-2" />
                <div class="content-rectangle">
                    <button class="heading">SHIMMER DRESS </button>
                    <button class="price">MRP - 2399.00 INR </button>
                    <button class="wish">Add to wishlist</button>
                </div>
            </li>

            <li class="image-item">
              <img src="womenswear/img6.png" alt="img-2" />
                <div class="content-rectangle">
                    <button class="heading">WHITE BODYCON DRESS </button>
                    <button class="price">MRP - 4999.00 INR </button>
                    <button class="wish">Add to wishlist</button>
                </div>
            </li>

            <li class="image-item">
              <img src="womenswear/img7.png" alt="img-2" />
                <div class="content-rectangle">
                    <button class="heading">BLACK SANDALS </button>
                    <button class="price">MRP - 2000.00 INR </button>
                    <button class="wish">Add to wishlist</button>
                </div>
            </li>

            <li class="image-item">
              <img src="womenswear/img8.png" alt="img-2" />
                <div class="content-rectangle">
                    <button class="heading">PINK FORMAL TOP  </button>
                    <button class="price">MRP - 1790.00 INR </button>
                    <button class="wish">Add to wishlist</button>
                </div>
            </li>
          
        </ul>
        <button id="next-slide" class="slide-button material-symbols-rounded">
          chevron_right
        </button>
      </div>
      <div class="slider-scrollbar">
        <div class="scrollbar-track">
          <div class="scrollbar-thumb"></div>
        </div>
      </div>
    </div>
  </body>
</html>