@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: 2%;
  }
  
  .top-bar {
    background-color: #1b4632;
    padding: 10px;
  }
  
  .top-bar marquee {
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  .navbar {
    background-color: #9f7833;
    overflow: hidden;
  }
  
  .navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 9px;
    text-decoration: none;
  }

  .navbar a:hover {
    color: black;
  }
  
  .navbar-right {
    float: right;
  }
  
  .navbar-right img[src="Location.png"] {
    height: auto;
    width:20px;
  }
  
  .navbar-right img[src="cont.png"] {
    width:22px;
    position:relative;
    right: 3px;
    top: 4px;
  }

  .navbar-right img[src="wishlist.png"] {
    width: 18px;
    position:relative;
    right: 3px;
    top: 4px; 
  }

  .navbar-right img[src="cart.png"] {
    width: 39px;
    position:relative;
    right: 3px;
    top: -8px; 
  }

  .carttext{
    position:relative;
    right: 2px;
    top: -22px;
  }

  /* -------- navbar done ---------------------- */


.horizontal-navbar {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  padding: 10px;
}

.horizontal-navbar img {
  margin-right: 100px;
  margin-left: 30px;
  width: 110px;
  height: 50px;
}

.horizontal-navbar-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.horizontal-navbar-links a {
  margin-right: 20px; margin-left: 20px;
  align-items: center; justify-content: center;
  color: #333;
  font-weight: bold; font-size: x-large;
  text-decoration: none;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.horizontal-navbar-links a:hover{
  text-decoration: underline;
  text-decoration-color: #cb2c2c;
}

img.searchicon{
  width: 20px; height:20px;
}
.search-container input[type="text"] {
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  position:relative;
  left: -90px;
}

.search-container{
  display: flex;
  position: relative;
  right: -150px;
}
img.delivery{
  width: 300px; height: 90px;
  position: relative;
  right: -20px; 
}

/* ----- horizontal strap below navbar done ------  */

.container {
  max-width: 100%;
  padding-top: 0px;
  overflow-x: hidden; /* no horizontal overflow */
}

.slider-wrapper {
  position: relative;
  max-width: 100%; 
  overflow-x: auto; /* Enable horizontal scrolling */
}

.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  width: max-content; 
}

.slider-wrapper .image-list .image-item {
  width: 100%; /* Ensure images cover the full width */
  height: 500px;
  object-fit: cover;
}

.container .slider-scrollbar {
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: hidden; 
}

/* slideshow done */

footer{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

footer .container{
  background-color: black;
}

.row{
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
}
.footer-col ul{
  list-style: none;
}

.footer-col h4{
  color: white;
  margin-bottom: 25px;
  font-size: 22px;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
}

.footer-col h4::before{
  content: '';
  width: 70px;
  height: 2px;
  position: absolute;
  background-color: #e91e64;
  bottom: -10px;
}

.footer-col ul li{
  padding: 10px 0;
}
.footer-col ul li a{
  color: white;
  text-decoration: none;
  font-size: 16px;
  opacity: 0.7;
  transition: 0.5s;
}
.footer-col ul li a:hover{
  opacity: 1;
}
.footer-col input{
  border: none;
  width: 250px;
  height: 45px;
  display: block;
  padding-left: 20px;
  margin: 14px 0;
}

.footer-col .inputSubmit{
  padding: 0px 20px;
  background-color: #e91e64;
  border: none;
  color: white;
}
.col p{
  color: white;
}
.row hr{
  opacity: 0.7;
}

.row .socialIcons i{
  display: inline-block;
  color: white;
  font-size: 20px;
  margin: 0 15px;
  transition: 0.5s;
}

.row .socialIcons i:hover{
  color: #e91e64;
}

.designer{
  font-weight: 400;
  margin: 0px 5px;
  color: rgb(193, 110, 168);
  font-style: bold;
  font-weight: 700;
}

@media (max-width: 600px){
  footer .row{
      flex-direction: column;
      padding: 20px 30px;
  }

  footer .footer-col ul{
      margin-left: 20px;
      margin-bottom: 20px;
  }
  .footer-col input{
      width: 100%;
  }
}

